html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{
	margin:0;
	padding:0;
	border:0;
	font:inherit;
	font-size:100%;
	vertical-align:baseline
}

html{
	line-height:1
}

ol,ul{
	list-style:none
}

table{
	border-collapse:collapse;
	border-spacing:0
}

caption,th,td{
	text-align:left;
	font-weight:normal;
	vertical-align:middle
}

q,blockquote{
	quotes:none
}

q:before,q:after,blockquote:before,blockquote:after{
	content:"";
	content:none
}

a img{
	border:none
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary{
	display:block
}

body{
	font:300 15px "Open Sans Condensed",sans-serif
}

.clear{
	clear:both
}

.triangle_bottom{
	background:transparent url(/assets/triangle-bottom.png) left top no-repeat;
	height:7px;
	margin-bottom:30px
}

.triangle_top{
	background:transparent url(/assets/triangle-top.png) left top no-repeat;
	height:7px;
	z-index:1000;
	position:relative
}

a{
	color:#853737
}

#home{
	background:#fff url("/assets/bg-nyc-big.jpg") top left repeat fixed
}

#home #top_bar_w{
	background-color:#9b3030;
	background-color:rgba(30,93,157,0.8);
	margin-bottom:70px;
	position:fixed;
	width:100%;
	z-index:1001;
	font-family:'Open Sans Condensed'
}

#home #top_bar_w #top_bar_i{
	width:850px;
	margin:0px auto
}

#home #top_bar_w #top_bar_i .top_menu{
	text-align:center
}

#home #top_bar_w #top_bar_i .top_menu li{
	display:inline-block
}

#home #top_bar_w #top_bar_i .top_menu li a{
	display:block;
	padding:33px 25px;
	line-height:16px;
	color:#fff;
	text-transform:uppercase;
	font-size:16px;
	text-decoration:none
}

#home #top_bar_w #top_bar_i .top_menu li a:hover{
	background-color:#111
}

#home #top_bar_w #top_bar_i .top_menu li.logo a{
	padding:33px 30px;
	width:48px;
	background:transparent url(/assets/logo-st-white-trans.png) center center no-repeat
}

#home .social_share_w{
	padding:10px 0px;
	padding-left:100px
}

#home .social_share{
	float:left;
	width:120px;
	text-align:left
}

#home #resume_w{
	text-align:left;
	max-width:850px;
	margin:0px auto;
	margin-bottom:100px
}

#home #resume_w .resume_i{
	-webkit-box-shadow:0px 20px 70px 10px #000;
	-moz-box-shadow:0px 20px 70px 10px #000;
	box-shadow:0px 20px 70px 10px #000;
	border-top:2px solid #fff
}

#home #resume_w .logo_w{
	margin-bottom:-70px;
	text-align:center
}

#home #resume_w .resume_top{
	padding:140px 140px 0px 140px;
	text-align:center;
	background-color:rgba(255,255,255,0.8)
}

#home #resume_w .resume_top h1{
	font-size:74px;
	font-weight:700;
	border-bottom:1px solid #000;
	margin-bottom:5px;
	font-family:"Yanone Kaffeesatz",sans-serif
}

#home #resume_w .resume_top .sub_name{
	text-transform:uppercase;
	font-size:22px;
	margin-bottom:10px;
	font-weight:400
}

#home #resume_w .resume_top .contact_links{
	text-align:center;
	font-weight:400;
	font-size:18px
}

#home #resume_w .resume_main{
	padding:70px 70px;
	background-color:rgba(255,255,255,0.8)
}

#home #resume_w .resume_main h2{
	font-weight:bold;
	margin-bottom:20px;
	border-bottom:1px solid #999;
	font-size:32px;
	padding-bottom:5px;
	font-weight:300
}

#home #resume_w .resume_main .footer_links{
	border-top:1px solid #ccc;
	padding-top:20px
}

#home #resume_w .resume_main .content_block{
	margin-bottom:50px
}

#home #resume_w .resume_main p.regular{
	line-height:32px;
	font-size:22px;
	margin-bottom:20px
}

#home #resume_w .resume_main p.red{
	color:#c01c1c
}

#home #resume_w .resume_main p.time_feature{
	background:transparent url("/assets/badge-time-magazine-bigger.png") 110px center no-repeat;
	padding:25px 0px 25px 260px;
	font-size:32px;
	line-height:40px
}

#home #resume_w .resume_main p.time_feature a{
	color:#111;
	text-decoration:none;
	font-weight:bold;
	border-bottom:2px dotted #111
}

#home #resume_w .resume_main p.time_feature .time{
	font-weight:700;
	color:#c01c1c
}

#home #resume_w .resume_main p .strong{
	font-weight:700
}

#home #resume_w .resume_main .sub_header{
	font-size:24px;
	margin-bottom:15px;
	color:#761f1f
}

#home #resume_w .resume_main ul.items{
	list-style:square;
	margin-bottom:20px;
	list-style-position:outside;
	margin-left:30px;
	font-size:22px
}

#home #resume_w .resume_main ul.items li{
	margin-bottom:3px
}

#home #resume_w .resume_main ul.big_items li{
	margin-bottom:20px;
	list-style:square;
	list-style-position:outside;
	margin-left:30px
}

#home #resume_w .resume_main ul.big_items li h4{
	font-size:24px;
	line-height:24px
}

#home #resume_w .resume_main ul.big_items li h4 span{
	color:#761f1f;
	font-weight:normal
}

#home #resume_w .resume_main ul.big_items li p.info{
	font-size:18px;
	color:#444
}

#home #resume_w .resume_main ul.big_items li p.desc{
	font-size:18px;
	color:#333
}

#home #projects_w .project_w{
	height:800px;
	padding-top:50px
}

#home #projects_w .project_w.readprint{
	background:transparent url("/assets/readprint-mb-1.png") 250px top no-repeat
}

#home #projects_w .project_w.matchfinancing{
	background:transparent url("/assets/match-mb-1.png") 250px top no-repeat
}

#home #projects_w .project_w.investorwatchdog{
	background:transparent url("/assets/iwd-mb-1.png") 250px top no-repeat
}

#home #projects_w .project_w.buyeyeglasses{
	background:transparent url("/assets/buyeyeglasses-mb-1.png") 250px top no-repeat
}

#home #projects_w .project_w.zbugs{
	background:transparent url("/assets/zbugs-mb-1.png") 250px top no-repeat
}

#home #projects_w .project_w .project_info_w{
	height:470px;
	width:330px;
	margin-left:20px
}

#home #projects_w .project_w .project_info_w .project_info_h{
	-webkit-box-shadow:0px 10px 60px 5px #000;
	-moz-box-shadow:0px 10px 60px 5px #000;
	box-shadow:0px 10px 60px 5px #000
}

#home #projects_w .project_w .project_info_w .head{
	text-align:center;
	padding:20px 20px 20px;
	border-bottom:1px dashed #000;
	background-color:rgba(255,255,255,0.9)
}

#home #projects_w .project_w .project_info_w .head h4{
	font-weight:400;
	font-size:36px;
	color:#000
}

#home #projects_w .project_w .project_info_w .head a{
	color:#000;
	border-bottom:1px solid #fff;
	text-decoration:none
}

#home #projects_w .project_w .project_info_w .head a:hover{
	background-color:#811717;
	color:#fff
}

#home #projects_w .project_w .project_info_w .project_info_i{
	padding:30px 30px 50px;
	border-bottom:none;
	background-color:rgba(255,255,255,0.9);
	border:5px solid #fff;
	border-top:none;
	border-bottom:none
}

#home #projects_w .project_w .project_info_w .project_info_i h5{
	font-weight:300;
	font-size:20px;
	margin-bottom:5px;
	border-bottom:1px solid #000;
	padding-bottom:5px
}

#home #projects_w .project_w .project_info_w .project_info_i p.text{
	font-size:16px;
	line-height:22px;
	margin-bottom:15px
}

#home #projects_w .project_w .project_info_w .project_info_i ul{
	list-style:square;
	margin-left:20px;
	font-size:16px
}

#home #footer{
	background-color:rgba(30,93,157,0.8);
	color:#fff;
	text-align:center;
	font-size:18px;
	padding:20px
}

#home .social_share .item{
	float:left
}

#home #services_area{
	text-align:center
}

#home .services_area_i{
	-webkit-box-shadow:0px 10px 60px 4px #000;
	-moz-box-shadow:0px 10px 60px 4px #000;
	box-shadow:0px 10px 60px 4px #000;
	background-color:#fff;
	display:inline-block;
	margin-bottom:80px
}

#home .box_w.services_w .services_header{
	padding:15px 30px;
	font-size:28px;
	font-weight:bold;
	border-bottom:1px dashed #000;
	text-transform:uppercase
}

#home .box_w.services_w .services_w{
	padding:40px 20px
}

#home .box_w.services_w .services_w .service{
	display:inline-block;
	width:200px;
	padding:20px;
	padding-bottom:30px;
	vertical-align:top;
	border-right:1px solid #eee;
	padding-top:100px
}

#home .box_w.services_w .services_w .service.design{
	background:transparent url(/assets/icon-designer.png) center top no-repeat
}

#home .box_w.services_w .services_w .service.development{
	background:transparent url(/assets/icon-server.png) center top no-repeat
}

#home .box_w.services_w .services_w .service.seo{
	background:transparent url(/assets/icon-seo.png) center top no-repeat
}

#home .box_w.services_w .services_w .service.server{
	background:transparent url(/assets/icon-developer.png) center top no-repeat
}

#home .box_w.services_w .services_w .service h5{
	font-weight:700;
	font-size:20px;
	padding-bottom:5px;
	border-bottom:1px solid #000;
	margin-bottom:10px;
	text-align:center;
	text-transform:uppercase
}

#home .box_w.services_w .services_w .service p{
	font-size:18px;
	text-align:center
}

#home .box_w.services_w .services_w .service:last-child{
	border-right:none
}

#home .box_w .box_header{
	padding:15px 30px;
	font-size:28px;
	font-weight:bold;
	border-bottom:1px dashed #000;
	text-transform:uppercase;
	text-align:center
}

#home .box_w .contact_w{
	color:#000;
	-webkit-box-shadow:0px 10px 60px 4px #000;
	-moz-box-shadow:0px 10px 60px 4px #000;
	box-shadow:0px 10px 60px 4px #000;
	background-color:#fff;
	display:inline-block;
	margin-bottom:60px
}

#home .box_w .contact_w .success_message{
	background-color:#d7fcb7;
	border:1px solid #99cc6b;
	color:#1f3808;
	font-size:20px;
	text-align:center;
	padding:15px 65px;
	margin:30px 0px
}

#home .box_w .contact_w .error_message{
	background-color:#fed7d7;
	border:1px solid #d77e7e;
	color:#380f08;
	font-size:18px;
	text-align:center;
	padding:10px 65px;
	margin-bottom:20px
}

#home .box_w .contact_w #contact_form{
	padding:30px
}

#home .box_w .contact_w #contact_form .field{
	margin-bottom:20px
}

#home .box_w .contact_w #contact_form .field.joined{
	float:left;
	margin-right:20px
}

#home .box_w .contact_w #contact_form .field label{
	font-size:16px;
	display:block;
	line-height:24px
}

#home .box_w .contact_w #contact_form .field label span{
	color:#8d2727;
	font-weight:bold
}

#home .box_w .contact_w #contact_form .field input{
	font-size:14px;
	padding:7px 5px;
	border:1px solid #bbb;
	border-top:1px solid #222;
	border-left:1px solid #222;
	display:block;
	width:240px;
	-webkit-box-shadow:inset 1px 1px 1px 1px #ddd;
	-moz-box-shadow:inset 1px 1px 1px 1px #ddd;
	box-shadow:inset 1px 1px 1px 1px #ddd
}

#home .box_w .contact_w #contact_form .field textarea{
	font-size:14px;
	padding:5px;
	border:1px solid #bbb;
	border-top:1px solid #222;
	border-left:1px solid #222;
	display:block;
	width:515px;
	-webkit-box-shadow:inset 1px 1px 1px 1px #ddd;
	-moz-box-shadow:inset 1px 1px 1px 1px #ddd;
	box-shadow:inset 1px 1px 1px 1px #ddd
}

#home .box_w .contact_w #contact_form .buttons_w button{
	border:1px solid #000;
	text-transform:uppercase;
	background-color:#222;
	color:#fff;
	padding:6px 12px;
	cursor:pointer;
	font:400 14px 'Open Sans Condensed', Cambria, Georgia,Times New Roman,Times,serif
}

#home .box_w .contact_w #contact_form .buttons_w button:hover{
	background-color:#000
}

#home .box_w .contact_w .social_icons{
	text-align:center;
	padding:20px 30px 15px 30px;
	border-top:1px dashed #000
}

#home .box_w .contact_w .social_icons .find_me_label{
	line-height:30px;
	float:left;
	display:block;
	margin-right:10px
}

#home .box_w .contact_w .social_icons a{
	margin:0px 5px;
	float:left;
	display:block
}
