.no-list {
    padding: 10px;
    text-align: center;
}

.float-right{
    float: right;
}

.bottomButtons{
    margin : 10px 0px 0px 0px;
    padding : 10px;
    text-align : center;
}

.llCommentList{
    margin: 10px 0px 0px 0px;
}