<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Come on! </title>
    <style type = "text/css">
        
        .flash{
            background-color : #FBB0B0;
            padding : 10px;
            width : 400px;
        }
    </style>
</head>
<body>
    <!-- {% if form.errors %}
    <div> 
        {{form.name.errors if form.name.errors  }}
        {{form.name.errors if form.name.errors  }}
        {{form.name.errors if form.name.errors  }}
        {{form.name.errors if form.name.errors  }}
    
    {% endif %} -->

    {% for message in form.name.errors %}
        <div class = "flash"> {{message}} </div>
    {%endfor%}

    {% for message in form.email.errors %}
        <div class = "flash"> {{message}} </div>
    {%endfor%}

    {% for message in form.subject.errors %}
        <div class = "flash"> {{message}} </div>
    {%endfor%}

    {% for message in form.message.errors %}
        <div class = "flash"> {{message}} </div>
    {%endfor%}

    <form action = " {{ url_for('index') }} " method = post >
        {{ form.hidden_tag() }}

        {{ form.name.label }}
        {{ form.name }}

        {{ form.email.label }}
        {{ form.email }}

        {{ form.subject.label }}
        {{ form.subject }}

        {{ form.message.label }}
        {{ form.message }}

        {{ form.submit }}

    </form>

</body>
</html>