{% extends "layout.html" %}

{% block contents %}
    <div class = "llArticleList">
        {% if context.article_list  %}
            {% for article in context.article_list %}
                <div class = "well" id = "article_{{article.id}}">
                    <h1> <a href = "{{url_for('article_detail', id = article.id) }}"> {{ article.title }}  </a> </h1>
                    <h3> {{ article.author }} </h3>
                    <h6> {{ article.data_created.strftime('%Y-%m-%d %H:%M:%S')  }}  </h6>

                    <p>
                        {{ article.content|truncate(50)|safe }}
                    </p>
                </div>
            {% endfor %}
                <div id = "results"></div>
                <div align="center" id = "morebtn">
                    <button class = "load_more" id = "load_more_button">load More</button>
                    <div class = "animation_image" style= "display : none">
                        Loading...
                    </div>
                 </div>


        {% else %}
        <div class = "no-list">
            글이 존재하지 않습니다. 새로운 글을 등록해주십니다.
        </div>
        {% endif %}
    </div>
{% endblock %}