html, body, div {
	margin:0;
	padding:0;
	border:0;
	font : inherit;
	font-size : 100%;
	vertical-align: baseline;
	margin : 0;
	padding: 0;
	border : 0;
}

html{
	line-height: 1
}

body{
	font:200 15px "Open Sans Condensed",sans-serif
}

ol, ul {
	list-style: none
}

a{
	color : #853737;
}

.clear{
	clear : both;
}

#home #top-bar-declare{
 	background-color:rgba(30,93,157,0.8);
 	position: fixed;
 	width: 100%;
 	font-family: 'Open Sans Condensed'
}

#home #top-bar-declare #top-bar{
	margin: 0px auto
}

#home #top-bar-declare #top-bar #top-menu{
	text-align: center
}

#home #top-bar-declare #top-bar #top-menu li{
	display : inline-block;
} 

#home #top-bar-declare #top-bar #top-menu li a{
	display : block ;
	padding: 33px 25px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 16px;
}

#top-menu li a:hover {
	background-color: #111
}



